// font-size

$font-size-sm: 20px;
$font-size-md: 32px;
$font-size-lg: 80px;



// line-height
$line-height-sm: 30px;
$line-height-md: 32px;
$line-height-lg:  43px;
$line-height-xl: 45px;
$line-height-xxl: 106px;



// colors
$maroon: #A00404;
$navy:#415165;

